<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="project-container">
      <ul class="project-list max-center">
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project1.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project2.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间s设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project3.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project4.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project5.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project6.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project7.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
        <li class="project-item">
          <a class="project-box" href="project_view.html">
            <div class="img">
              <img src="/public/images/project8.jpg" alt="PINKBABY美容店品牌空间设计">
            </div>
            <div class="text">
              <div class="title">PINKBABY美容店品牌空间设计</div>
              <div class="info">
                <p>Design : Kashiwa Sato</p>
                <p>Cooperation : TOPPAN INC. / TAKEO CO., LTD.</p>
                <p>Sponsors : HIROSHIMA INTERNATIONAL CULTURAL FOUNDATION / HIROSHIMA PEACE CREATION FUND / JAPAN GRAPHIC DESIGN ASSOCIATION INC.</p>
              </div>
              <div class="more">READ MORE +</div>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>